/* CSS cho thẻ <li> */
.nav-item {
    display: inline-block;
    margin-right: 20px;
    background-color: #7f572e;
}

/* CSS cho thẻ <a> */
.nav-link {
    color: #f6dbab;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s ease; /* Thêm hiệu ứng hover */
}

.nav-link:hover {
    background-color: #5a4020;
}
